<div class="cart-item">
  <div class="row">
  <div class="col-sm-8"><span>{{ cartItem.productName }}</span></div>
  <div class="col-sm-4"><span>{{ cartItem.price | currency:'INR'  }}</span></div>
</div>
<div class="row">
  <span class="col-sm-8">Quantity: {{ cartItem.qty }}</span>
  <br>
  <strong class="col-sm-4">{{ (cartItem.qty * cartItem.price) | currency:'INR' }}</strong>
</div>
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Remove</h4>
    </div>
    <div class="modal-body">
      Do you want to remove {{ cartItem.productName }} from cart?
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cross click')">
        close
      </button>
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')" (click)="deleteItem(cartItem.productId, cartItem.id)">Delete</button>
    </div>
  </ng-template>
<br>
  <a type="button" class="card-link-secondary small text-uppercase mr-3" (click)="open(content)"><i
    class="fas fa-trash-alt mr-1"></i>Delete</a>

  <!-- <button (click)="deleteItem(cartItem.productId, cartItem.id)">Delete</button> -->
</div>
