.dropdown{
	float:right;
	padding-right: 30px;
}

.dropdown .dropdown-menu{
	padding:20px;
	top:30px !important;
	width:380px !important;
	left:-250px !important;
	box-shadow:0px 5px 30px black;
}

.dropdown-menu:before{
  content: " ";
  position:absolute;
  top:-20px;
  right:50px;
  border:10px solid transparent;
  border-bottom-color:#fff;
}
