<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="https://previews.123rf.com/images/elenabsl/elenabsl1509/elenabsl150900092/46200068-cute-vintage-toys-on-the-floor-and-plane-hanging-kids-products-sale-banner.jpg" alt="First slide">
      <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive">Toys</h3>
      <p>Special discount on TOYS!</p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="https://previews.123rf.com/images/incomible/incomible1708/incomible170800029/83323567-sale-banner-with-home-appliances-.jpg" alt="Second slide">
      <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive">Electronics</h3>
      <p>Electronics Items on Sale!</p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="https://image.freepik.com/free-vector/beauty-skin-care-product-banner_33099-2057.jpg" alt="Third slide">
      <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive">Beauty</h3>
      <p>Hot Deals on Beauty Products!</p>
    </div>
  </mdb-carousel-item>
</mdb-carousel>
